<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Woody Stuff</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous">
    </script>
</head>
<body >
<img style="position: absolute ; top:0 ; left: 0; z-index: -100;"  src="/5mo.jpg" alt="image" />
<!--<img src="http://cdn.woody.x.ephec-ti.be/5mo.jpg" alt="image" />-->
<div class="container mx-auto px-4 mt-8">
    <h1 class="text-3xl font-bold mb-4">Woody stuff</h1>

    <table class="table-auto border-collapse w-full">
        <thead>
        <tr>
            <th class="px-4 py-2 bg-gray-200 text-gray-600 border-bottom">Bouton</th>
            <th class="px-4 py-2 bg-gray-200 text-gray-600 border-bottom">Données</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="px-4 py-2 border-bottom">
                <button hx-get="/api/misc/time" hx-target="#data1" class="bg-blue-500 text-white font-bold py-2 px-4 rounded">Fast</button>
            </td>
            <td class="px-4 py-2 border-bottom">
                <div id="data1" class="border border-gray-300 p-2"></div>
            </td>
        </tr>

        <tr>
            <td class="px-4 py-2 border-bottom">
                <button hx-get="/api/misc/heavy" hx-target="#data3" class="bg-red-500 text-white font-bold py-2 px-4 rounded">slow dynamic</button>
            </td>
            <td class="px-4 py-2 border-bottom">
                <div id="data3" class="border border-gray-300 p-2"></div>
            </td>
        </tr>
        <tr>
            <td class="px-4 py-2 border-bottom">
                <button hx-post="api/products/last" hx-target="#data4" class="bg-purple-500 text-white font-bold py-2 px-4 rounded">Database</button>
            </td>
            <td class="px-4 py-2 border-bottom">
                <div id="data4" class="border border-gray-300 p-2"></div>
<!--                <input type="text" hx-trigger="beforeRequest" hx-post="api/data4" name="data" class="mt-2 w-full border border-gray-300 px-2 py-1">-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

